<div class="container-fluid">

	<div class="d-flex justify-content-center" id="Titulo">
		<h1>{{titulo}}</h1>
	</div>

</div>

<div class="container">
	<div class="row">

		<div class="col mr-5" id="insercaoDeCadastro">
			<div class="input mb-3 container" id="cadastro">
				<input type="text" class="form-control" placeholder="Digite o nome da categoria" [(ngModel)]="categoria.Nome" maxlength="40">
				<br>
				<button class="btn btn-outline-secondary" type="button" (click)="cadastrar()">Cadastrar</button>
			</div>
			<br>

			<a routerLink="">Voltar</a>
		</div>

		<div class="col ml-5 " id="tabela">
			<table class="table">
				<tr *ngFor="let c of vetorDeCategorias; let i = index">
					<th scope="row">
						<div class="row">
							<div class="col-10">
								<span>
									<u>Nome</u>: {{c.Nome}}</span>
							</div>
							<div class="col-2">

								<button (click)="editar(i)">Editar</button>
								<button (click)="remover(i)">Remover</button>

							</div>
						</div>
					</th>
				</tr>
			</table>
		</div>

	</div>
</div>