#tudo {
	position:absolute;
	/* background: url(..\..\assets\background2.jpg) no-repeat center center fixed; */
	background-size: cover;
	width: 100%;
	height:100%;
}

#Titulo {
	margin-top: 3%;
	font-family: Stencil Std, fantasy;
}

#insercaoDeCadastro {
	margin-top: 15%;
	height: 400px;
	width: 500px;
	background-color: black;
	color: black;
	text-align: center;

}

#cadastro {
	margin-top: 30%;
}

#tabela {
	text-transform: capitalize;
	margin-top: 15%;
	max-height: 400px;
  	overflow: auto;
}

/* #barraDeNavegacao {
	background-color: #fff1c9;
	position:fixed;
 	bottom:0px;
 	width: 100%;
}
 */
