<div class="container-fluid" id="tudo">

<div id="navBar">
  <div class="d-flex justify-content-center">
    <div class="row">
      <div class="col">
        <img src="..\src\assets\icone.png" style="height: 80px; width: 80px;">
      </div>
      <div class="col" id="textoTitulo">
        <h1>TecNetCursos</h1>
      </div>
    </div>  
  </div>
</div>

<div>
  <div class="container" id="body">
    <h4 style="margin-top: 10px;">Faça parte da nossa plataforma de ensino</h4>
    
    <button type="button" class="btn btn-light" routerLink="categoria">Cadastre-se</button>
  </div>
</div>

</div>